VITE_BASE_PATH=/CERTIFIXSAS/
VITE_REVIEWS_API_URL=https://script.google.com/macros/s/AKfycbzNxVUzvSh5aXxqk85KK0-3wr6G_lC4n_9Eiw_GRJ9EazlGCF1HzTpXLVcbPsYkAgKX/exec
VITE_CERTIFICATE_API_URL=https://script.google.com/macros/s/AKfycbzwZvvFItukfbPEirdKmIMZqR4R6h7Yzqq3Q91rsW78oWh00BRcPU_A542TznSoBAUrpg/exec

# Para produccion con dominio personalizado:
# VITE_BASE_PATH=/
